[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=PyAzan
Comment=
Categories=Application;
Exec=pyazan.py
Icon=azan
Terminal=false
StartupNotify=false
